.hamburger-menu .menu, .card-overlay, .card-img { width: 100%; height: 100%; }

* { margin: 0; padding: 0; }

body { background-color: #292929; }

.navbar { position: relative; z-index: 200; }

.navbar-navigation { display: flex; }

.navbar-navigation-right { width: 50vw; height: 100vh; background-color: #292929; position: fixed; right: -50vw; transition: all 0.8s; }

@media (max-width: 635px) { .navbar-navigation-right { right: 0; top: 100vh; width: 100vw; height: 50vh; } }

@media (max-width: 435px) { .navbar-navigation-right { display: none; } }

.navbar-navigation-right .right-img { position: absolute; width: 50%; opacity: 0.7; box-shadow: 0 15px 60px rgba(0, 0, 0, 0.4); border-radius: 10px; }

.navbar-navigation-right .right-img-1 { top: 15%; right: 15%; }

@media (max-width: 1300px) { .navbar-navigation-right .right-img-1 { top: 25%; } }

@media (max-width: 635px) { .navbar-navigation-right .right-img-1 { top: 10%; right: 5%; width: 33.33vw; } }

.navbar-navigation-right .right-img-2 { top: 30%; right: 25%; }

@media (max-width: 1300px) { .navbar-navigation-right .right-img-2 { top: 35%; } }

@media (max-width: 635px) { .navbar-navigation-right .right-img-2 { top: 30%; right: 32%; width: 33.33vw; } }

.navbar-navigation-right .right-img-3 { top: 45%; right: 40%; }

@media (max-width: 1300px) { .navbar-navigation-right .right-img-3 { top: 45%; } }

@media (max-width: 635px) { .navbar-navigation-right .right-img-3 { top: 50%; right: 60%; width: 33.33vw; } }

.navbar-navigation-left { width: 50vw; height: 100vh; background-color: #1f1d1d; position: fixed; left: -50vw; display: flex; justify-content: center; align-items: center; transition: all 0.8s; }

@media (max-width: 635px) { .navbar-navigation-left { left: 0; bottom: 100vh; width: 100vw; height: 50vh; } }

@media (max-width: 435px) { .navbar-navigation-left { width: 100vw; height: 100vh; bottom: 100vh; } }

.navbar-navigation-left .nav-list { list-style: none; }

.navbar-navigation-left .nav-list-link { text-decoration: none; font-weight: 300; letter-spacing: 2px; text-transform: uppercase; font-family: "Nunito", sans-serif; font-size: 50px; color: #bbb; display: block; text-align: center; margin: 30px 0; transition: all 0.5s; }

@media (max-width: 1350px) { .navbar-navigation-left .nav-list-link { font-size: 2em; } }

@media (max-width: 635px) { .navbar-navigation-left .nav-list-link { margin: 10px 0; } }

@media (max-width: 435px) { .navbar-navigation-left .nav-list-link { margin: 30px 0; } }

.navbar-navigation-left .nav-list-link:hover { color: #d3ab55; letter-spacing: 4px; }

.checkbox:checked ~ .navbar-navigation .navbar-navigation-left { left: 0; }

.checkbox:checked ~ .navbar-navigation .navbar-navigation-right { right: 0; }

@media (max-width: 635px) { .checkbox:checked ~ .navbar-navigation .navbar-navigation-left { bottom: 50vh; }
  .checkbox:checked ~ .navbar-navigation .navbar-navigation-right { top: 50vh; } }

@media (max-width: 435px) { .checkbox:checked ~ .navbar-navigation .navbar-navigation-left { bottom: 0vh; } }

.checkbox:checked ~ .hamburger-menu .menu { transform: rotateZ(90deg); }

.checkbox:checked ~ .hamburger-menu .menu-line-1 { transform: rotate(-40deg); }

.checkbox:checked ~ .hamburger-menu .menu-line-2 { transform: translateX(-50px); }

.checkbox:checked ~ .hamburger-menu .menu-line-3 { transform: rotate(40deg); }

.header { width: 100%; height: 100vh; background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url(../images/bg.jpeg) center no-repeat; background-size: cover; position: relative; }

.header .brand { position: absolute; top: 15%; left: 50%; transform: translate(-50%, -50%); display: flex; align-items: center; }

@media (max-width: 455px) { .header .brand { flex-direction: column; } }

.header .header-banner { text-align: center; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }

.about-us { height: 90vh; display: flex; align-items: center; }

@media (max-width: 340px) { .about-us { padding: 20px 0; } }

@media (max-width: 280px) { .about-us { padding: 50px 0; } }

.about-us-left { width: 60%; padding: 0 50px; display: flex; flex-direction: column; align-items: center; }

@media (max-width: 1350px) { .about-us-left { padding: 0 20px; } }

@media (max-width: 635px) { .about-us-left { width: 100%; } }

.about-us-left .main-heading { font-size: 60px; margin-bottom: 20px; }

@media (max-width: 1600px) { .about-us-left .main-heading { font-size: 6em; } }

@media (max-width: 1350px) { .about-us-left .main-heading { font-size: 5em; margin-bottom: 40px; } }

@media (max-width: 940px) { .about-us-left .main-heading { font-size: 3em; } }

@media (max-width: 635px) { .about-us-left .main-heading { font-size: 2em; margin-bottom: 10px; } }

@media (max-width: 635px) { .about-us-left .main-heading { font-size: 3em; margin-bottom: 30px; } }

.about-us-left .sub-heading { font-size: 40px; margin-bottom: 30px; }

@media (max-width: 1600px) { .about-us-left .sub-heading { font-size: 3em; margin-bottom: 50px; } }

@media (max-width: 1350px) { .about-us-left .sub-heading { font-size: 2.2em; margin-bottom: 40px; } }

@media (max-width: 940px) { .about-us-left .sub-heading { font-size: 1.5em; } }

@media (max-width: 635px) { .about-us-left .sub-heading { font-size: 1.2em; margin-bottom: 10px; } }

@media (max-width: 635px) { .about-us-left .sub-heading { font-size: 2em; margin-bottom: 30px; } }

.about-us-left .stars { text-align: center; }

.about-us-left .stars .star { color: #d3ab55; margin: 30px 0; margin-left: 10px; }

@media (max-width: 940px) { .about-us-left .stars .star { margin: 15px 0; } }

@media (max-width: 635px) { .about-us-left .stars .star { font-size: 0.8em; } }

.about-us-left .stars p { color: #bbb; font-family: "Josefin Sans", sans-serif; font-size: 20px; font-weight: 300; }

@media (max-width: 1600px) { .about-us-left .stars p { font-size: 20px; } }

@media (max-width: 1350px) { .about-us-left .stars p { font-size: 1.1em; } }

@media (max-width: 940px) { .about-us-left .stars p { font-size: 1em; } }

@media (max-width: 635px) { .about-us-left .stars p { font-size: 0.8em; margin-bottom: 10px; } }

@media (max-width: 635px) { .about-us-left .stars p { font-size: 1em; margin-bottom: 10px; } }

.about-us-right { width: 40%; }

.about-us-right img { width: 100%; opacity: 0.7; }

@media (max-width: 635px) { .about-us-right { display: none; } }

.gallery .cards-wrapper { display: flex; flex-wrap: wrap; }

.footer { display: flex; justify-content: center; align-items: center; flex-direction: column; padding: 70px 0; }

.footer-header { display: flex; align-items: center; margin-bottom: 70px; }

@media (max-width: 455px) { .footer-header { flex-direction: column; } }

.footer .social-media { width: 300px; display: flex; justify-content: space-between; list-style-type: none; margin-bottom: 70px; }

@media (max-width: 355px) { .footer .social-media { width: 100px; justify-content: center; } }

.footer .social-media-link { font-size: 3em; color: #bbb; text-decoration: none; transition: color 0.7s; }

.footer .social-media-link:hover { color: #d3ab55; }

@media (max-width: 455px) { .footer .social-media-link { font-size: 2.5em; margin: 0 5px; } }

.footer-copyright { color: #bbb; font-family: "Nunito", sans-serif; font-size: 1em; text-align: center; }

.hamburger-menu { width: 40px; height: 40px; position: fixed; top: 10%; left: 5%; z-index: 500; }

.hamburger-menu .menu { display: flex; flex-direction: column; justify-content: space-around; cursor: pointer; transition: all 0.5s; overflow: hidden; }

.hamburger-menu .menu-line { width: 100%; height: 4px; background-color: #d3ab55; transition: all 0.5s 0.5s; transform-origin: right; }

@media (max-width: 940px) { .hamburger-menu .menu-line { height: 3px; } }

@media (max-width: 635px) { .hamburger-menu .menu-line { height: 2px; } }

@media (max-width: 940px) { .hamburger-menu { width: 30px; height: 30px; } }

@media (max-width: 635px) { .hamburger-menu { width: 20px; height: 20px; } }

.logo { text-decoration: none; width: 110px; height: 110px; color: #d3ab55; border: 3px solid #d3ab55; border-radius: 50%; display: flex; justify-content: center; align-items: center; font-size: 70px; margin-right: 20px; }

@media (max-width: 1600px) { .logo { font-size: 60px; width: 100px; height: 100px; } }

@media (max-width: 1350px) { .logo { font-size: 55px; width: 90px; height: 90px; } }

@media (max-width: 940px) { .logo { font-size: 40px; width: 70px; height: 70px; } }

@media (max-width: 635px) { .logo { font-size: 30px; width: 50px; height: 50px; margin-right: 10px; } }

@media (max-width: 455px) { .logo { margin-right: 0; margin-bottom: 10px; border-width: 2px; } }

.main-name { color: #bbb; font-family: "Nunito", sans-serif; font-weight: 300; letter-spacing: 2px; text-transform: uppercase; font-size: 50px; text-align: center; }

@media (max-width: 1600px) { .main-name { font-size: 4em; } }

@media (max-width: 1350px) { .main-name { font-size: 2.5em; } }

@media (max-width: 940px) { .main-name { font-size: 1.5em; } }

@media (max-width: 635px) { .main-name { font-size: 1em; } }

@media (max-width: 455px) { .main-name { font-size: 1.2em; } }

@media (max-width: 366px) { .main-name { width: 200px; } }

.sub-name { color: #bbb; font-family: "Nunito", sans-serif; font-weight: 300; letter-spacing: 2px; text-transform: uppercase; text-align: center; font-size: 18px; }

@media (max-width: 940px) { .sub-name { font-size: 1em; } }

@media (max-width: 635px) { .sub-name { font-size: 0.8em; } }

@media (max-width: 455px) { .sub-name { font-size: 1em; } }

.main-heading { color: #d3ab55; font-family: "Dancing Script", cursive; font-weight: 300; font-size: 100px; margin-bottom: 50px; }

@media (max-width: 1600px) { .main-heading { font-size: 6em; } }

@media (max-width: 1350px) { .main-heading { font-size: 5em; margin-bottom: 40px; } }

@media (max-width: 940px) { .main-heading { font-size: 3em; } }

@media (max-width: 635px) { .main-heading { font-size: 2.5em; } }

@media (max-width: 455px) { .main-heading { font-size: 3em; } }

.sub-heading { color: #bbb; font-family: "Josefin Sans", sans-serif; font-size: 55px; font-weight: 300; letter-spacing: 2px; margin-bottom: 80px; text-align: center; }

@media (max-width: 1600px) { .sub-heading { font-size: 3em; margin-bottom: 50px; } }

@media (max-width: 1350px) { .sub-heading { font-size: 2.2em; margin-bottom: 40px; } }

@media (max-width: 940px) { .sub-heading { font-size: 1.5em; } }

@media (max-width: 635px) { .sub-heading { font-size: 1.2em; } }

@media (max-width: 455px) { .sub-heading { font-size: 1.1em; } }

.main-btn { color: #d3ab55; background-color: transparent; border: 1px solid #d3ab55; border-radius: 2px; width: 180px; height: 45px; font-weight: 300; letter-spacing: 2px; text-transform: uppercase; text-transform: uppercase; letter-spacing: 1px; cursor: pointer; transition: all 0.2s; font-size: 1.2em; }

.main-btn:hover { background-color: #d3ab55; color: #292929; }

@media (max-width: 940px) { .main-btn { font-size: 1em; } }

@media (max-width: 635px) { .main-btn { font-size: 0.8em; width: 115px; height: 30px; } }

@media (max-width: 455px) { .main-btn { font-size: 0.8em; width: 110px; height: 30px; } }

.card { width: 33.3333%; height: 33vw; position: relative; overflow: hidden; }

@media (max-width: 635px) { .card { width: 50%; height: 50vw; } }

.card:hover .card-overlay { bottom: 0; }

.card-overlay { display: flex; justify-content: center; align-items: center; flex-direction: column; position: absolute; left: 0; bottom: -100%; background-color: rgba(211, 171, 85, 0.6); z-index: 100; transition: bottom 0.5s; }

.card-overlay-heading { color: #292929; font-family: "Josefin Sans", sans-serif; font-weight: 300; letter-spacing: 2px; text-transform: uppercase; font-size: 30px; font-weight: 500; margin-bottom: 30px; }

@media (max-width: 940px) { .card-overlay-heading { font-size: 1.2em; } }

@media (max-width: 360px) { .card-overlay-heading { font-size: 0.9em; } }

@media (max-width: 280px) { .card-overlay-heading { font-family: "Nunito", sans-serif; font-size: 0.7em; font-weight: 700; } }

.card-overlay-paragraph { color: #292929; font-family: "Nunito", sans-serif; font-weight: 300; letter-spacing: 2px; text-transform: uppercase; font-size: 25px; font-weight: 900; margin-bottom: 30px; }

@media (max-width: 940px) { .card-overlay-paragraph { font-size: 1em; } }

@media (max-width: 360px) { .card-overlay-paragraph { font-size: 0.8em; } }

@media (max-width: 280px) { .card-overlay-paragraph { font-family: "Nunito", sans-serif; font-size: 0.7em; font-weight: 700; } }

.card-overlay-btn { width: 110px; height: 30px; color: #d3ab55; background-color: #fff; border: 1px solid #d3ab55; border-radius: 50px; font-family: "Josefin Sans", sans-serif; font-size: 15px; font-weight: 900; cursor: pointer; }

@media (max-width: 940px) { .card-overlay-btn { font-size: 0.8em; width: 80px; height: 25px; } }

@media (max-width: 280px) { .card-overlay-btn { font-size: 0.7em; width: 80px; height: 25px; } }

.card-img { object-fit: cover; opacity: 0.7; }
/*# sourceMappingURL=main.css.map */